* {
  margin: 0;
  padding: 0;
  font-family: tahoma;
}
main {
  background: linear-gradient(to right bottom, #99d98c, #1e6091);
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 25rem;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
    -10px -10px 20px rgba(0, 0, 0, 0.2);

  border-radius: 6px;
  overflow: hidden;
}

.card-header {
  height: 5rem;
  background: linear-gradient(to right bottom, #52b69a, #168aad);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: white;
}

@media (max-width: 529px) {
  .card-header {
    flex-direction: column;
    height: auto;
  }
}

.card-header-GL {
  margin: 0 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.card-body-input {
  background-color: white;
  border-radius: 3px;
  overflow: hidden;
}

.card-body-input > label {
  display: block;
  width: 100%;
  height: 3rem;
}
.card-body-input > label > * {
  border: 0;
  width: 100%;
  height: 100%;
  color: gray;
  text-indent: 1rem;
  font-size: 1.2rem;
}
.card-body-input > label > *:focus {
  outline: none;
  background-color: rgb(230, 224, 224);
}

.remember-me {
  display: flex;
  margin: 2rem 0;
  color: white;
  font-size: 1.2rem;
  text-indent: 0.5rem;
}

.card-body-button {
  height: 3rem;
  background-color: inherit;
  border: none;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
    -10px -10px 20px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 3px;
}

.card-body-button:hover {
  background-color: #34a0a4;
}

/* QUESTION CARD */
.question .card {
  width: 40rem;
  padding: 2rem;
  background: white;
}

.question .card-progress-bar {
  height: 10px;
  background-color: #1e6091;
}

.question .card-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 3rem;
}
.question .card-info > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.question .card-question {
  margin: 2rem;
}

.question .card-question-statement {
  margin: 2rem 0;
}

.question .card-question-single-option {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  overflow: hidden;
  border-radius: 9px;
  height: 2rem;
  cursor: pointer;
}
.question .card-question-single-option:hover {
  background-color: #99d98c;
  border-color: black;
}

.question .card-question-single-option-letter {
  width: 2rem;
  text-align: center;
  background-color: gray;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question .card-question-single-option-option {
  text-indent: 0.5rem;
}

.card-question-options-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.question .card-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.question .card-options > * {
  width: 10rem;
  height: 2.5rem;
  border: none;
  border-radius: 3px;
  background-color: #1e6091;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
}

.question .card-options > *:hover {
  background-color: #2d6996;
}

.hidden {
  visibility: hidden;
}

.selected {
  border: 10px solid black;
  background-color: #99d98c;

  /* color: white; */
}

/* ------------------------------------------------------------ */
/* MODAL WINDOW */

/* .body .question {
  backdrop-filter: blur(10px);
  z-index: 999;
} */
.modal-parent {
  position: fixed;
  left: 0;
  top: 0;
  backdrop-filter: blur(30px) brightness(40%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.modal {
  width: 20rem;
  height: auto;
  border-radius: 9px;
  padding: 1rem;
  backdrop-filter: blur(30px) opacity(90%);
  background-color: white;
}

.modal-icon-score {
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-icon-score img {
  width: 33%;
}

.modal-info-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
  margin-top: 0;
}
.modal-info-results .feedback-message {
  margin: 1.5rem;
}
.modal-info-results .score {
  font-size: 3rem;
}

.modal .modal-options {
  display: flex;
  justify-content: flex-end;
}

.modal .modal-options .modal-close-button {
  width: 5rem;
  height: 2rem;
  background-color: #ff0a54;
  color: white;
  border: none;
  border-radius: 9px;
  cursor: pointer;
}
